.DivStyle  {
    padding: 5px;
    border: 1px solid blue;
    /* border-color : red; */
    background-color: #ccc;
    max-width: 50px;
    align-self: center
  }


.Active {
    border: 1em;
    background-color: red;
    border: 1px solid blue;
    max-width: 50px;
    align-self: center
  }

  .Inactive {
    border: 1em;
    background-color : greenyellow;
    border: 1px solid blue;
    max-width: 50px;
    align-self: center;
  }

  .row {
      display: flex;
  }